.form {
    max-width: fit-content;
    width: 100%;
}

.container {
    display: flex;
    gap: 18px;
}

.header {
    margin: 0;
    font-size: 18px;
    color: var(--text-color-accent);
    min-width: 200px;
}

.input {
    font-size: 16px;
    height: 32px;
    padding: 4px;
    margin-bottom: 8px;
    flex: 1 1 auto;
}

.button {
    height: 40px;
    font-size: 16px;
    padding: 6px;
    background-color: var(--color-primary);
    max-width: 160px;
}