.passwordForm {
    margin: 0;
    flex: 1 1 auto;
    max-width: unset;
    width: 50%;
}

.button {
    height: 40px;
    max-width: fit-content;
    font-size: 18px;
    padding: 8px;
    background-color: var(--color-primary);
    border-radius: 8px;
    margin-top: 12px;
}

.buttonContainer {
    display: flex;
    justify-content: end;
}

.successMessage {
    font-size: 16px;
    color: var(--text-color-primary);
    margin: 8px 0;
}


@media screen and (max-width: 860px) {
    .settingsPage {
        padding: 20px;
    }
    .passwordForm {
        padding: 20px;
    }
}

@media screen and (max-width: 690px) {
    .button {
        height: fit-content;
        font-size: 16px;
        padding: 6px;
        margin-top: 12px;
    }
    .buttonContainer {
        justify-content: center;
    }
}

@media screen and (max-width: 590px) {
    .passwordForm {
        width: 100%;
    }
}