.main {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-surface);
    border-radius: 8px;
    padding: 18px 0;
}

.header {
    color: var(--text-color-accent);
    text-align: center;
    margin-bottom: 8px;
}

.button {
    height: 40px;
    border-radius: 4px;
    margin: 18px 0 4px;
    font-size: 18px;
    background-color: var(--color-primary);
}

.errorMessage {
    color: var(--text-color-error);
    margin: 0;
    font-size: 14px;
    white-space: pre-line;
}

@media screen and (max-width: 590px) {
    .button {
        height: fit-content;
        margin: 8px 0 4px;
        font-size: 16px;
    }
}