.button {
    background-color: unset;
    border: none;
    border-radius: 8px;
    color: var(--text-color-primary);
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.button:hover {
    opacity: 0.3;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}