.sectionTreatment {
    border: 2px dotted var(--color-primary);
    border-radius: 12px;
    padding: 8px;
    margin-bottom: 12px;
    position: relative;
}

.header {
    font-size: 16px;
    margin: 0 25px 12px 0;
    color: var(--text-color-accent);
    text-wrap: wrap;
}

.treatmentContainerSmall {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    border-top: 1px solid var(--color-primary);

}

.containerSmall {
    display: flex;
    gap: 8px;
}

.exampleSmall {
    color: var(--text-color-primary);
    font-size: 16px;
    line-height: normal;
    margin: 0;
    font-weight: 300;
}

.paragraphSmall {
    font-size: 16px;
    line-height: normal;
    margin: 0;
}

.smallAddBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 6px;
}

.btnPlusIcon {
    color: var(--text-color-accent);
}

.moreButton {
    font-size: 16px;
    color: var(--text-color-accent);
}