.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--color-surface);
    border-radius: 8px;
    padding: 32px;
    width: 425px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    margin: 0 0 18px;
    color: var(--text-color-primary);
    font-size: 18px;
}

@media screen and (max-width: 590px) {
    .form {
        padding: 18px;
        gap: 8px;
    }
    .header {
        margin: 0 0 12px;
        font-size: 16px;
    } 
}


@media screen and (max-width: 470px) {
    .form {
        width: 100%;
    }
}