.textArea {
    font-size: 16px;
    min-height: 32px;
    height: 78px;
    max-height: 200px;
    padding: 4px;
    border: 1px solid var(--text-color-secondary);
    border-radius: 4px;
    background-color: transparent;
    box-sizing: border-box;
    resize: vertical;
}

.label {
    font-size: 16px;
    color: var(--text-color-secondary);
}