.pets {
    padding: 0;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    align-items: center;
    justify-content: center;
}

.addButton {
    background-color: unset;
    border-color: transparent;
}

.header {
    color: var(--text-color-primary);
    margin: 0 0 12px;
    font-size: 18px;
}