.pets {
    padding: 0;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    align-items: center;
    justify-content: center;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.addButton {
    background-color: unset;
    border-color: transparent;
    width: 200px;
}

.header {
    color: var(--text-color-primary);
    margin: 0 0 12px 10px;
    font-size: 18px;
}