.petInfo {
    background-color: var(--color-surface);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin-bottom: 16px;
    position: relative;
}

.avatarContainer {
    padding: 18px 0 18px 18px;
}

.avatar {
    width: 180px;
    height: 180px;
    margin-bottom: 12px;
}

.petName {
    margin: 0;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: var(--text-color-accent)
}

.infoParagraph {
    color: var(--text-color-secondary);
    margin: 0 0 8px 0;
    font-size: 18px;
}

.infoParagraph:last-of-type  {
    margin: 0;
}

.isEdit {
  margin-bottom: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoContainer {
    border: 3px dotted var(--color-primary);
    border-radius: 15px;
    padding: 12px;
}

.button {
    align-self: end;
}

.deleteButton {
    height: 40px;
    font-size: 18px;
    padding: 8px;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
}

.editButton {
    height: 40px;
    font-size: 18px;
    padding: 8px;
    background-color: var(--color-primary);
}

@media screen and (max-width: 860px) {
    .petInfo {
        flex-direction: column;
        padding: 18px;
    }
    .avatarContainer {
        margin: 0 auto;
    }
    .infoParagraph {
        font-size: 16px;
    }
    .container {
        gap: 12px;
        margin-top: 12px;
    }
}
