.main {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: visibility 0.5s ease-in-out;
}

.mainVisible {
    visibility: visible;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000007b;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    cursor: pointer;
}

.mainVisible .overlay {
    opacity: 1;
}


.content {
    position: relative;
    z-index: 1;
    background-color: var(--color-surface);
    border-radius: 8px;
    margin: 0 48px;
    transform: scale(0.2);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

.mainVisible .content {
    transform: scale(1);
    opacity: 1;
}