.petWeight {
    background-color: var(--color-surface);
    border-radius: 8px;
    padding: 18px;
    display: inline-block;
}

.currentWeight {
    margin: 0 0 6px 0;
    font-size: 18px;
    color: var(--text-color-prinary);
}

.weightDifference {
    margin: 6px 0 12px;
    font-size: 16px;
    color: var(--text-color-secondary);
}

.buttonContainer {
    margin: 32px 0 0;
    display: flex;
    gap: 18px;
    justify-content: space-between;
}

.button {
    height: 40px;
    font-size: 16px;
    padding: 6px;
    background-color: var(--color-primary);
}

.buttonTransparent {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
}

.popupContainer {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: fit-content;
}

.popupHeaderAddWeight {
    margin: 0;
    font-size: 18px;
    color: var(--text-color-prinary);
}

.popupWeihtContainer {
    display: flex;
    gap: 8px;
}

.inputPopupContainer {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.popupInput {
    font-size: 16px;
    max-width: 150px;
    height: 32px;
    padding: 4px;
}

.popupSelect {
    font-size: 16px;
    height: 32px;
    padding: 0 0 0 4px;
}

.popupInputDate {
    font-size: 16px;
    height: 32px;
}

.popupPreviousContainer {
    padding: 32px 28px 28px;
    color: var(--text-color-secondary);
}

.popupPreviousWeight {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin: 0 0 20px;
    border-bottom: 1px dashed var(--color-primary);
}

.popupPreviousWeight:last-of-type {
    margin: 0;
}

.popupPreviousWeight:hover .popupDeleteButton {
    opacity: 1;
    visibility: visible;
}

.popupParagraph {
    margin: 0;
    font-size: 16px;
}

.popupHeader {
    font-size: 18px;
    margin: 0 0 28px;
}

.popupHeaderEmpty {
    font-size: 16px;
    margin: 38px;

}

.popupDeleteButton {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 16px;
    color: var(--text-color-secondary);
}