.settingsPage {
    border-radius: 8px;
    padding: 20px 40px;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.themeContainer {
    flex: 1 1 auto;
    background-color: var(--color-surface);
    border-radius: 8px;
    padding: 32px;
    box-sizing: border-box;
    width: 50%;
}

.radioContainer {
    display: flex;
    gap: 18px;
}

.themeHeader {
    margin: 0 0 30px;
    font-size: 18px;
    color: var(--text-color-primary);
}
