.settingsPage {
    border-radius: 8px;
    padding: 20px 40px;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.settingsContainer {
    flex: 1 1 auto;
    background-color: var(--color-surface);
    border-radius: 8px;
    padding: 32px;
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.radioContainer {
    display: flex;
    gap: 18px;
}

.header {
    margin: 0 0 28px;
    font-size: 18px;
    color: var(--text-color-primary);
}

.languageSelect {
    font-size: 16px;
}