.select {
    background-color: transparent;
    border: 1px solid var(--text-color-secondary);
    border-radius: 4px;
    padding: 6px;
    font-size: 18px;
    color: var(--text-color-primary);
    font-family: var(--font-family-default);
    box-sizing: content-box;
}

.label {
    color: var(--text-color-primary);
    font-size: 16px;
}