.select {
    background-color: transparent;
    border: 1px solid var(--text-color-secondary);
    border-radius: 4px;
    padding: 6px;
    font-size: 18px;
    color: var(--text-color-primary);
    font-family: var(--font-family-default);
    box-sizing: border-box;
    width: 100%;
}

.label {
    color: var(--text-color-primary);
    font-size: 16px;
}

@media screen and (max-width: 590px) {
    .select {
    padding: 4px;
    font-size: 16px;
}
}