.form {
    max-width: 425px;
    margin: 20px auto;
}

.submitButton {
    height: 40px;
    border-radius: 4px;
    margin: 18px 0;
    font-size: 18px;
    background-color: var(--color-primary);
}

.paragraph {
    margin: 0;
}

.headerAccent {
    color: var(--text-color-accent);
}

.errorMessage {
    color: var(--text-color-error);
    margin: 0;
}