.main {
    border-radius: 8px;
    background-color: var(--color-surface);
    padding: 10px;
    margin-bottom: 16px;
}

.header {
    margin: 0 0 12px;
    color: var(--text-color-primary);
    font-size: 18px;
}

.notification {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.messageExp {
    background-color: var(--color-attention) !important;
}

.messageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    background-color: var(--color-primary);
    border-radius: 24px;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out;
}

.messageContainer:hover {
    opacity: 0.3;
}

.message {
    margin: 0;
    color: var(--text-color-primary);
    font-size: 16px;
    width: fit-content;
    text-align: center;
}


.button {
    padding: 0 0 0 6px;
    display: flex;
}
