.main {
    border-radius: 8px;
    background-color: rgba(137, 196, 196, 0.065);
    padding: 10px;
    margin-bottom: 16px;
}

.header {
    margin: 0 0 12px;
    color: var(--text-color-primary);
    font-size: 18px;
}

.notification {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.message {
    background-color: #6D4886;
    color: var(--text-color-primary);
    font-size: 16px;
    border-radius: 24px;
    margin: 0;
    width: fit-content;
    text-align: center;
    padding: 8px 14px;
}
