.container {
    padding: 32px 28px 28px;
    color: var(--text-color-secondary);
}

.sectionWeight {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin: 0 0 20px;
    border-bottom: 1px dashed var(--color-primary);
}

.sectionWeight:last-of-type {
    margin: 0;
}

.sectionWeight:hover .deleteButton {
    opacity: 1;
    visibility: visible;
}

.paragraph {
    margin: 0;
    font-size: 16px;
}

.header {
    font-size: 18px;
    margin: 0 0 28px;
    color: var(--text-color-accent);
}

.headerEmpty {
    font-size: 16px;
    margin: 38px;

}

.deleteButton {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 16px;
    color: var(--text-color-secondary);
}