.container {
    padding: 32px 28px 28px;
    color: var(--text-color-secondary);
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

.header {
    font-size: 18px;
    margin: 0 0 28px;
    color: var(--text-color-accent);
}

.headerEmpty {
    font-size: 18px;
    margin: 28px;
    color: var(--text-color-accent);
}

.sectionFood {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    margin: 0 0 20px;
    border-bottom: 1px dashed var(--color-primary);
}

.sectionFood:last-of-type {
    margin: 0;
}

.paragraph {
    margin: 0;
    font-size: 16px;
    max-width: 100px;
    width: 100%;
}

.foodName {
    margin: 0;
    font-size: 16px;
    max-width: 200px;
    width: 100%;
    word-break: break-word;
}

.comment {
    margin: 0;
    font-size: 16px;
    max-width: 200px;
    width: 100%;
}

.deleteButton {
    /* visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; */
    font-size: 16px;
    color: var(--text-color-secondary);
}