.container {
    padding: 32px 28px 28px;
    color: var(--text-color-secondary);
    max-width: 400px;
}

.header {
    font-size: 18px;
    margin: 0 0 28px;
    color: var(--text-color-accent);
}

.sectionFood {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    margin: 0 0 20px;
    border-bottom: 1px dashed var(--color-primary);
}

.sectionFood:last-of-type {
    margin: 0;
}

.paragraph {
    margin: 0;
    font-size: 16px;
}

.foodName {
    margin: 0;
    font-size: 16px;
    max-width: 50%;
}

.deleteButton {
    /* visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; */
    font-size: 16px;
    color: var(--text-color-secondary);
}