.userInfo {
    background-color: var(--color-surface);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 16px;
}

.sectionInfo {
    display: flex;
    gap: 18px;
    align-items: center;
}

.userName {
    margin: 0;
    color: var(--text-color-primary);
    font-size: 18px;
}

.userLogin {
    margin: 0;
    color: var(--text-color-secondary);
    font-size: 16px;
}

.userNameInput {
    height: 18px;
    font-size: 16px;
    padding: 4px;
}