.main {
    width: fit-content;
    padding: 32px 24px 12px;
    box-sizing: border-box;
}

.form {
    padding: 0;
    gap: 8px;
}

.button {
    height: 40px;
    border-radius: 4px;
    margin: 18px 0 4px;
    font-size: 18px;
    background-color: var(--color-primary);
}

.header {
    margin: 0 0 8px;
    text-align: center;
    color: var(--text-color-accent);
}

.inputName {
    padding: 4px;
}

.radioQuestion {
    margin: 0;
    color: var(--text-color-primary);
    font-size: 16px;
}

.radioSection {
    display: flex;
    gap: 36px;
}

.input {
    padding: 4px;
}

.errorMessage {
    color: var(--text-color-error);
    margin: 0;
    font-size: 14px;
    white-space: pre-line;
}