.main {
    width: 425px;
    padding: 6px 12px;
}

.form {
    padding: 0;
}

.button {
    height: 40px;
    border-radius: 4px;
    margin: 18px 0;
    font-size: 18px;
    background-color: var(--color-primary);
}

.header {
    margin: 0 0 8px;
    text-align: center;
    color: var(--text-color-accent);
}

.inputName {
    text-transform: capitalize;
}

.radioQuestion {
    margin: 0;
    color: var(--text-color-primary);
    font-size: 16px;
}

.radioSection {
    display: flex;
    gap: 36px;
}