.avatar {
    width: 80px;
    height: 80px;
    background-color: #6D4886;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    object-position: center;
    /* box-shadow: 0 0 24px rgb(232, 199, 136);
    background-color: rgb(232, 199, 136); */
}

.glowing {
    box-shadow: 0 0 24px var(--color-primary);
}
