.header {
    font-size: 18px;
    margin: 0;
    color: var(--text-color-accent);
}

.paragraph {
    font-size: 9px;
    padding: 2px 4px;
    margin: 2px;
    background-color: var(--color-primary);
    border-radius: 6px;
    opacity: 0.5;
    transition: opacity 0.2s ease-in;
    cursor: pointer;
}

.paragraph:hover {
    opacity: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
}