html {
  font-family: var(--font-family-default);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color-secondary);
  padding: 0 60px;
  background-color: var(--background-color-main);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-family-default: "Comic Relief", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html[data-theme='dark'] {
  --text-color-primary: #dedede;
  --text-color-secondary: #c2c2c2;
  --text-color-error: rgb(236, 54, 54);
  --text-color-accent: oklch(79.398% 0.09152 305.71);

  --color-surface: rgb(27, 30, 30);
  --color-primary: #6D4886;
  --background-color-main: rgb(18, 18, 18);
}

html[data-theme='light'] {
  --text-color-primary: #fff8f0;
  --text-color-secondary: #e6e4e9;
  --text-color-error: rgb(236, 54, 54);
  --text-color-accent: #e88000;

  /* --color-surface: #452c57; */
  --color-surface: #6D4886;
  --color-primary: #e88000;
  /* --background-color-main: #6D4886; */
  --background-color-main: #452c57;



}