.petFood {
    background-color: var(--color-surface);
    border-radius: 8px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 260px;
}

.header {
    margin: 0 0 6px 0;
    font-size: 18px;
    color: var(--text-color-primary);
}

.paragraph {
    margin: 6px 0;
    font-size: 16px;
    color: var(--text-color-secondary);
}

.buttonContainer {
    margin: 32px 0 0;
    display: flex;
    gap: 18px;
}

.button {
    font-size: 16px;
    padding: 6px;
    background-color: var(--color-primary);
}

.buttonTransparent {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
}

@media screen and (max-width: 860px) {
    .header {
        font-size: 16px;
    } 
   .petFood {
        padding: 16px;
        max-width: 100%;
    }
    .buttonContainer {
        margin-top: 18px;
        justify-content: space-between;
    }
}
