.card {
    border-radius: 8px;
    background-color: var(--color-surface);
    max-width: 180px;
    width: 100%;
    padding: 12px;
    text-align: center;
}

.petAvatar {
    background-color: #6D4886;
    margin: 0 auto;
}

.petName {
    margin: 12px 0 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--text-color-primary);
    font-size: 18px;
}

.petInfo {
    margin: 8px;
    color: var(--text-color-secondary);
    font-size: 16px;
}

.petInfo:last-of-type {
    margin-bottom: 18px;
}

.button {
    font-size: 18px;
    width: 100%;
    background-color: var(--color-primary);
    padding: 6px;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
}

