.mainPage {
    border-radius: 8px;
    padding: 20px 40px;
    max-width: 1024px;
    margin: 0 auto;
}

@media screen and (max-width: 590px) {
    .mainPage {
        padding: 20px;
    }
}

@media screen and (max-width: 430px) {
    .mainPage {
        padding: 12px;
    }
}